
html, body {
    font-family: "Comic Sans MS";
    padding: 0;
    margin: 0;



}
.top-container{

    margin-top: 90px;
    width: 100%;
}
.bottom-container{
    padding: 0;
    margin: 10px;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.avatar{
    left: 50px;
    height: 80%;
    width: 100%;
}
.text-center{
    margin-top: 40px;
    width: 80%;
    height: 80%;
    padding: 0;
    left: 20px;
}
.right{
    float: right !important;
    width: 100%;
    background-color: #e0e0e0;
}
.left{
    width: 100%;
}

.image{
    float: left;
    padding: 0;
}
#image{
    height: 30%;
    width: 100%;

}
.bottomSide{
    background-color: white;
    width: 86%;


}
.control-label{
    float: left;
    left: 50px;
}

/*////////////////////////////////////////////////////////////////////*/

.left-addon input {
    padding: 10px 5px 8px 40px;
}
.inner-addon .fa {
    position: absolute;
    padding: 0;
    pointer-events: none;
}
.inner-addon {
    position: relative;
    width: 80%;

}
.inner-addon .fa {
    position: absolute;
    padding: 3px 6px;
    pointer-events: none;
}
.left-addon .fa  { left:  0px;}
.left-addon input  { padding-left:  40px; }

.inner-addon-tall input {
    padding: 10px 15px 8px 40px;
    font-size: 21px;
}
.inner-addon-tall .fa {
    padding: 48px 20px 50px 25px;
}

/*//////////////////////////////////////////////////////////////////*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*
 Nav
 */

.nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 0;
    width: 100%;
    height: 85px;

    background-color: white;
    z-index: 10;


}
.logo{
    border: black 3px;
    width: 100px;
    height: 4.8%;
}

#logoNav{
    height: auto;
    width: 100%;

}
#profilePic{
    left: 20px;
    max-width: 600px;
    max-height: 300px;
}

.navMenu{
    float: right !important;
    padding: 0;
    line-height: 40px;
    margin-left: 810px;

}
.navMenu ul{
    list-style: none;
}
.navMenu ul li {
    display: inline-block;
    font-weight: bold;
    outline: none !important;
}

.navMenu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding: 0 15px;
}

/******
 Nav Buttons
*****/
.btnn .type2 ,.btnn .type1{
    font-weight: bold;
    font-family: "Comic Sans MS";
}
.btnn {
    position: relative;
    padding: 1em 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-family: "Comic Sans MS"
}

.btnn.type1.type1::after, .btnn.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
    outline: none !important;
}
.btnn.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #566473;
    border-right-color: #566473;
}
.btnn.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #566473;
    border-left-color: #566473;
}
.btnn.type1.type1:hover:after, .btnn.type1.type1:hover:before {
    width: 100%;
    height: 100%;
}
.btnn.type2 {
    color: #000000;
}
.btnn.type2.type2:after, .btnn.type2.type2:before {
    content: "";
    display: block;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #566473;
    transition: all 0.3s ease;
    transform: scale(0.85);
}
.btnn.type2.type2:hover:before {
    top: 0;
    transform: scale(1);
}
.btnn.type2.type2:hover:after {
    transform: scale(1);
}
